# Summer Olympics Data Analysis Assignment

In [1]:
#it is mandatory to run this cell
import pandas as pd
df = pd.read_csv('summer.csv')

### 1. In how many cities Summer Olympics is held so far?

In [2]:
print(len(df['City'].unique()))

22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [3]:
tf = df.drop(['Year', 'City', 'Discipline', 'Athlete', 'Country', 'Gender', 'Event'], axis =1, inplace = False)
tf = tf[tf['Medal'] == 'Gold']
tf = tf.drop(['Medal'], axis =1)
print(tf.value_counts().iloc[:5])

Sport
Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
dtype: int64

### 3. Which sport is having most number of medals so far? (Top 5)

In [4]:
sf = df.drop(['Year', 'City', 'Discipline', 'Athlete', 'Country', 'Gender', 'Event', 'Medal'], axis =1, inplace = False)
print(sf.value_counts().iloc[:5])

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
dtype: int64

### 4. Which player has won most number of medals? (Top 5)

In [5]:
ef = df.drop(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event', 'Medal'], axis =1, inplace = False)
print(ef.value_counts().iloc[:5])

Athlete
PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
dtype: int64

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [6]:
af = df.drop(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event'], axis =1, inplace = False)
af = af[af['Medal'] == 'Gold']
print(af.value_counts().iloc[:5])

Athlete           Medal
PHELPS, Michael   Gold     18
LEWIS, Carl       Gold      9
NURMI, Paavo      Gold      9
SPITZ, Mark       Gold      9
LATYNINA, Larisa  Gold      9
dtype: int64

### 6. In which year India won first Gold Medal in Summer Olympics?

In [7]:
bf = df.drop(['City', 'Discipline', 'Sport', 'Athlete', 'Gender', 'Event'], axis =1, inplace = False)
bf = bf[bf['Country'] == 'IND']
bf = bf[bf['Medal'] == 'Gold']
print(bf['Year'].iloc[0])

1928

### 7. Which event is most popular in terms on number of players? (Top 5)

In [8]:
cf = df.drop(['Year', 'City', 'Discipline', 'Sport', 'Athlete', 'Country', 'Gender', 'Medal'], axis =1, inplace = False)
print(cf.value_counts().head(5))

Event
Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
dtype: int64

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [9]:
xf = df.drop(['Year', 'City', 'Discipline', 'Athlete', 'Country', 'Event'], axis =1, inplace = False)
xf = xf[xf['Medal'] == 'Gold']
xf = xf[xf['Gender'] == 'Women']
xf = xf.drop(['Medal', 'Gender'], axis =1, inplace = False)
print(xf.value_counts().head(5))

Sport
Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
dtype: int64